<p style="color: green"><%= notice %></p>

<% content_for :title, "Comments" %>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>

    <% if user_signed_in? %> <!-- Condition d'affichage du bouton Show -->
      <p>
        <%= link_to "Show this comment", comment, class: "btn btn-primary" %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New comment", new_comment_path %>
