<footer class="bg-dark text-white text-center text-lg-start py-5">
  <!-- Grid container -->
  <div class="container">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold">Company</h5>
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white text-decoration-none">About Us</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Careers</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Press</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Blog</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold">Support</h5>
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white text-decoration-none">Contact Us</a></li>
          <li><a href="#!" class="text-white text-decoration-none">FAQ</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Privacy Policy</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Terms of Service</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Services</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Portfolio</a></li>
          <li><a href="#!" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold">Follow Us</h5>
        <ul class="list-unstyled d-flex justify-content-center gap-3">
          <li><a href="#!" class="text-white"><i class="fab fa-facebook fa-lg"></i></a></li>
          <li><a href="#!" class="text-white"><i class="fab fa-twitter fa-lg"></i></a></li>
          <li><a href="#!" class="text-white"><i class="fab fa-instagram fa-lg"></i></a></li>
          <li><a href="#!" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a></li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center py-3" style="background-color: rgba(255, 255, 255, 0.1);">
    © 2024 Copyright:
    <a class="text-white fw-bold text-decoration-none" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- FontAwesome Icons (CDN) -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

